<script>
  async function fetchProductGroups(shop, productHandle) {
    try {
      const url = `https://${shop}/apps/custom-product-groups?product_handle=${encodeURIComponent(productHandle)}`;

      const response = await fetch(url);

      if (!response.ok) {
        throw new Error("Failed to fetch product groups");
      }

      const html = await response.text();

      return html;
    } catch (error) {
      console.error("Product groups fetch error:", error);
      return null;
    }
  }
  fetchProductGroups(
    "dev-tienda-prueba.myshopify.com",
    "{{block.settings.product.handle}}"
  ).then((html) => {
    if (!html) return;

    document.querySelector("#product-groups-container").innerHTML = html;
  });

</script>
<div id="product-groups-container"></div>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

